scss:
  // Hidden by default
  #advanced_search_fields {
    // display: none;
  }

= form_tag weather_readings_path, method: :get, remote:true do |f|

  .input-group
    input.form-control [
      type="search"
      id="q"
      name="q"
      placeholder="Search keyword..."
    ]

    .input-group-btn
      button.btn.btn-outline-success [type="submit"]
        = fa_icon("search")

    .input-group-btn
      /! Button trigger modal
      button.btn.btn-outline-secondary#advanced_search_fields_toggle
        = fa_icon("sliders")

  #advanced_search_fields
    = render "advanced_search_fields"

script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js" 
javascript:
  // Toggle advanced_search_fields.
  $('#advanced_search_fields_toggle').on('click', function() {
    $('#advanced_search_fields').toggle();
  });
  // Close advanced_search_fields on submit.
  $('button[type="submit"]').on('click', function() {
    $('#advanced_search_fields').hide();
  });

  // http://twitter.github.io/typeahead.js/examples/
  var weather_readings_autocomplete = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: {
      url         : '/weather_readings/autocomplete.json'
    }
  });
  $('#q').typeahead(null, {
    name: 'weather_readings_autocomplete',
    source: weather_readings_autocomplete
  });
